.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.nav-tabs>li {
    display: inline-block;
    padding-bottom: 0;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs>li>a {
    font-size: 20px;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

.nav-tabs>li.active {
    margin-bottom: -2px;
}

.nav-tabs {
    margin-left: 0 !important;
    padding-left: 0;
    padding-bottom: 0;
    margin-top: 30px !important;
}

.tab-content h5.title:first-letter {
    text-transform: uppercase;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.tab-content h5.title {
    font-size: 16px !important;
}

.tab-content h4.title {
    font-size: 18px !important;
}

.tab-content h3.title {
    font-size: 24px !important;
}

.tab-content strong {
    font-weight: 700;
}

.tab-content .checkbox {
    background: #eaeaea;
    padding: 5px 10px;
    display: inline-block;
    margin-right: 10px;
}

.tab-content .checkboxs {
    display: inline-block;
    vertical-align: top;
}

.tab-content .checkboxs:nth-of-type(1) {
    width: 100px;
}

.tab-content .checkboxs:nth-of-type(2) {
    width: 100px;
}

.tab-content .checkboxs label {
    display: block;
}

.tab-content input[type="checkbox"] {
    margin-right: 10px;
}

.tab-content .tr {
    border-bottom: 1px solid #ccc;
}

.tab-content .tr .td,
.tab-content .tr .th {
    display: inline-block;
    vertical-align: top;
}

.tab-content .tr .td:nth-of-type(1),
.tab-content .tr .th:nth-of-type(1) {
    width: 90px;
}

.tab-content .tr .td:nth-of-type(2),
.tab-content .tr .th:nth-of-type(2) {
    width: calc(100% - 336px);
}

.tab-content .tr .td:nth-of-type(3),
.tab-content .tr .th:nth-of-type(3) {
    width: 210px;
    text-align: right;
}

.tab-content .officers ul.buttons {
    display: block;
    border-bottom: 1px solid #eaeaea;
    margin-left: 0;
    margin-top: 20px;
}

.tab-content .officers ul.buttons li {
    display: inline-block;
    padding: 10px 20px;
}

.tab-content .officers ul.buttons li.active {
    border-bottom: 2px solid #f00;
}

.tab-content .officers ul.buttons li a {
    font-size: 18px;
}

.tab-content .officers h3.title {
    display: inline-block;
    vertical-align: middle;
}

.tab-content .officers .checkboxs {
    width: auto;
    vertical-align: middle;
    margin-left: 40px;
}

.tab-content .officers .checkboxs input {
    vertical-align: middle;
}

.tab-content .officers h2.title {
    margin-bottom: 20px !important;
}

.tab-content .officers h2.title a {
    font-size: 22px;
    text-decoration: underline;
}

.tab-content .officers h2.title a:hover {
    text-decoration: none;
}

.tab-content .officers h2.title span.status,
.tab-content .overdue {
    margin-right: 10px;
    padding: 0 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 10px;
}

.tab-content .officers h2.title span.status.active {
    background: #62df00;
}

.tab-content .officers h2.title span.status.resigned,
.tab-content .overdue {
    background: #f00;
}

.tab-content .officers h4.title {
    margin-top: 5px;
}

.tab-content .officers ul.description {
    margin-left: 0;
    margin-top: 20px;
}

.tab-content .officers ul.description li {
    display: inline-block;
    width: calc(100% / 3.05);
    vertical-align: top;
    margin-bottom: 20px;
}

.tab-content .officers .officer {
    border-bottom: 1px solid #eaeaea;
}

input#ch-search-input {
    width: 500px;
}

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('../images/spinner.gif') no-repeat 50% 50%;
    margin: -16px 0 0 -16px;
}

a.button#back-to-list,
a.button#ch-search-button {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #E60000;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    margin-top: 15px;
}

a.button#ch-search-button {
    width: 100px;
    height: 30px;
    line-height: 30px;
}

a.button#back-to-list:hover {
    background: #AA0001;
}

h2.company-title,
h4.company-title {
    font-size: 30px !important;
    margin-top: 40px !important;
    text-transform: uppercase;
}

p.download-pdf-now a {
    padding: 10px -1px !important;
}

span.document-description {
    font-weight: 700 !important;
}

p.people-nc {
    text-transform: uppercase;
}

.pagination {
    float: right;
}

.pagination li {
    display: inline-block;
    border: 1px solid #f00;
    margin: 0 3px;
    min-width: 30px !important;
    height: 30px !important;
    overflow: hidden !important;
    text-align: center;
}

.pagination li:hover,
.pagination li.active {
    border-color: #444;
}

.pagination li:hover a,
.pagination li.active a {
    color: #444;
}

.pagination li a {
    padding: 5px 0;
    display: block;
    color: #f00;
    cursor: pointer;
    font-weight: 700;
}

.pagination li.arrow-left,
.pagination li.arrow-right {
    vertical-align: top;
}

.pagination li.arrow-left a,
.pagination li.arrow-right a {
    background: url(../images/left-arrow.png) no-repeat;
    width: 30px;
    height: 28px;
    background-position: center 7px;
}

.pagination li.arrow-left:hover a,
.pagination li.arrow-right:hover a {
    background-position: center -17px;
}

.pagination li.arrow-right a {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    background-position: center 5px;
}

.pagination li.arrow-right:hover a {
    background-position: center -19px;
}

.search-results-list ul {
    margin-left: 0;
}

.search-results-list li {
    list-style: none;
    margin-bottom: 10px;
}

.search-results-list li p.title {
    padding: 0;
}

.search-results-list li p.title:nth-of-type(1) {
    color: #999;
}

#search-app {
    margin-top: 20px;
}

.search-results-list {
    overflow: hidden;
}

.arrow-left a,
.arrow-right a {
    padding: 0 !important;
}

.first-item a {
    font-weight: bold;
}

#search-app .form-control {
    font: 13px "Trebuchet MS", Arial, Sans-Serif;
    width: 275px;
    height: 20px;
    border: 1px solid #CCC;
    padding: 0 2px;
}

#search-app input[type='submit'] {
    margin: 0 5px 0;
    border: none;
    background: #E60000;
    color: #FFF;
    width: 60px;
    height: 20px;
    cursor: pointer;
}

#robinzon {
    width: 130px;
    height: 25px;
    background: #E60000;
    text-align: center;
    line-height: 25px;
    margin-top: 10px;
}

#robinzon a {
    color: #fff;
}

#ch-plugin-main-block {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.form-horizontal.pages {
    text-align: right;
}

.form-horizontal.pages [name="ch-page"] {
    width: 240px;
    height: 25px;
    font: 13px "Trebuchet MS", Arial, Sans-Serif;
    border: 1px solid #CCC;
    padding: 0 2px;
}

.form-horizontal.pages [type="submit"] {
    height: 25px;
    width: 80px;
    margin: 0 5px 0;
    border: none;
    background: #E60000;
    color: #FFF;
    cursor: pointer;
}

h1 {
    line-height: 1.2;
}
